:root{
    --shadow: 1px;
}
html{
    font-family: sans-serif;
}
.container-fluid{
    background-color: rgb(58, 58, 58);
}
.cf2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.form-floating{
    margin: 20px auto;
}
label{
    background-color: grey;
    width: 100%;
    height:  35px;
    margin: 0;
    padding-left: 5px;
    border-radius: 5px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
textarea{
    margin: 0;
}
#editor{
    height: 300px;
}
#preview{
    height: inherit;
    min-height: 400px;
    background-color: rgb(230, 222, 222);
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
}
#preview image, #preview img {
    max-width: 90%;
}